body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

#map {
  height: 400px;
  width: 80%;
  margin: 20px auto;
  border: 1px solid #ccc;
}

#info {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

.links a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  margin: 0 15px;
  text-decoration: underline;
}
.links a:hover {
  color: blue;
}