body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  h1 {
    color: #000000;
  }
  h2 {
    color: #000000;
  }
  .container {
    margin-top: 50px;
  }
  .links {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .links a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    margin: 0 15px;
    text-decoration: underline;
  }
  .links a:hover {
    color: blue;
  }